<div class="contentarea" style="margin-top: 75px;">
    <div class="container" id="ResumeMain">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/main_head.png" class="rounded-circle" alt="Shawn Wang" height="160" width="160">
                <h3 style="margin-top: 3rem;"><b>王裕翔 Shawn Wang</b></h3>
                <h4>Software Engineer & Artist</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem;">
            <div class="col-12">
                <h2><b>軟體開發技能</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>遊戲軟體開發</b></h4>
                <ul>
                    <li>Slot遊戲機台開發 (C++, in-house-toolchain)</li>
                    <li>遊戲機台網路報帳系統開發 (C++, winsock)</li>
                    <li>網頁遊戲引擎開發 (Typescript, WebGL)
                        <ul>
                            <li>WebGL操作使用Texture製作動畫元件</li>
                            <li>Message系統處理function callback</li>
                            <li>ECS架構方便功能擴充與維護</li>
                        </ul>
                    </li>
                    <li>Unity的Monobehavior撰寫(C#)</li>
                    <li>Tool製作，讓美術素材連結到引擎格式(C++, C#)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>網路應用開發</b></h4>
                <ul>
                    <li>HTML5 & CSS
                        <ul>
                            <li>CSS framework: Bootsrap4, W3.CSS</li>
                            <li>CSS preprocessor: SASS, SCSS</li>
                            <li>響應式網頁: media query, 畫面切版</li>
                        </ul>
                    </li>
                    <li>Angular X 專案開發 (Typescript)
                        <ul>
                            <li>Angular CLI</li>
                            <li>SPA架構規劃</li>
                            <li>路由配置 (RouterModule)</li>
                            <li>資料收發 (HttpClient)</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>嵌入式系統開發</b></h4>
                <ul>
                    <li>嵌入式系統OS開發 (c, assembly)</li>
                    <li>嵌入式系統硬體API開發 (c, assembly)</li>
                    <li>硬體架構規劃開發 (VHDL, verilog)</li>
                    <li>通訊晶片開發 (3G, 4G)</li>
                    <li>儲存裝置晶片開發 (flash)</li>
                    <li>晶片測試 (testbench)</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h2><b>藝術與設計</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>平面設計</b></h4>
                <ul>
                    <li>活動海報製作 (Photosop)</li>
                    <li>Web APP介面設計 (Photosop, Illustrator)</li>
                    <li>各類Logo設計 (Photosop, Illustrator)</li>
                    <li>影片剪輯 (AE, premiere)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>CG繪圖</b></h4>
                <ul>
                    <li>全彩動漫人物繪製 (Photosop, Clip Studio Paint)</li>
                    <li>2D遊戲素材繪製</li>
                    <li>四格漫畫 (Photosop, Clip Studio Paint)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <hr class="hr-part">
                <h4><b>音樂</b></h4>
                <ul>
                    <li>樂團鍵盤手, 吉他手</li>
                    <li>錄音, 混音, 音樂後製</li>
                    <li>PA System配置</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2><b>經歷</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/tls.png" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>台灣立薪軟體 TLS</b></h4>
                        <h5>軟體工程師</h5>
                        <p>2018-Current</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>工作項目</h5>
                        <ul>
                            <li>Slot遊戲軟體開發</li>
                            <li>機台報帳系統開發</li>
                            <li>網頁遊戲引擎開發</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/mediatek.png" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>聯發科技 Mediatek</b></h4>
                        <h5>軟體工程師</h5>
                        <p>2014-2017</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>工作項目</h5>
                        <ul>
                            <li>通訊晶片開發</li>
                            <li>嵌入式系統架構</li>
                            <li>嵌入式系統OS</li>
                            <li>硬體Driver, API</li>
                            <li>晶片測試</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/skymedi.png" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>擎泰科技 Skymedi</b></h4>
                        <h5>韌體工程師</h5>
                        <p>2010-2014</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>工作項目</h5>
                        <ul>
                            <li>Flash儲存晶片開發</li>
                            <li>硬體模擬程式</li>
                            <li>硬體Driver, API</li>
                            <li>晶片測試</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
        </div>

        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h2><b>學歷</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/nthu.png" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>國立清華大學</b></h4>
                        <h5>資訊工程研究所</h5>
                        <p>2008-2010</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>主修科目</h5>
                        <ul>
                            <li>積體電路設計</li>
                            <li>硬體描述語言</li>
                            <li>高等計算機結構</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/nthu.png" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>國立清華大學</b></h4>
                        <h5>資訊工程系</h5>
                        <p>2004-2008</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>主修科目</h5>
                        <ul>
                            <li>資料結構</li>
                            <li>數位邏輯設計</li>
                            <li>電子電路</li>
                            <li>計算機結構</li>
                            <li>作業系統</li>
                            <li>計算機圖學</li>
                            <li>軟體工程</li>
                            <li>計算機網路概論</li>
                            <li>網路程式設計應用</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
            <div class="col-10 ">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="assets/img/tcfsh.jpg" class="rounded-circle mt-3 mb-3" width="100px">  
                    </div>
                    <div class="col-lg-4">
                        <h4><b>台中第一高級中學</b></h4>
                        <p>2000-2004</p>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
            <div class="col-2 item-bullet"></div>
        </div>

        <div class="row mt-5">
            <div class="col-12 mt-5">
                <h2><b>作品連結</b></h2>
            </div>
        </div>

        <div class="row mt3">
            <div class="col-lg-4 mb-5">
                <hr class="hr-part">
                <div class="card">
                    <img class="card-img-top" src="assets/img/fishing_ts_webgl.png" alt="Card image">
                    <div class="card-body">
                        <h3 class="pl-2">Web Game Engine</h3>
                        <ul>
                            <li>Typescript + Webgl.</li>
                            <li>Fishing Game Demo.</li>
                        </ul>
                        <a class="btn btn-in-content" href="https://superpcwang.github.io/others/fishingdemo" target="_blank">Demo</a>&nbsp;&nbsp;
                        <a class="btn btn-in-content" href="https://github.com/superpcwang/TestFishing" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-5">
                <hr class="hr-part">
                <div class="card">
                    <img class="card-img-top" src="assets/img/angular_webapp.png" alt="Card image">
                    <div class="card-body">
                        <h3  class="pl-2">Angular Web APP</h3>
                        <ul>
                            <li>Single Page Application.</li>
                            <li>Responsive UI Design.</li>
                        </ul>
                        <a class="btn btn-in-content" href="http://superpcwang.github.io" target="_blank">Demo</a>&nbsp;&nbsp;
                        <a class="btn btn-in-content" href="https://github.com/superpcwang/TestAngular" target="_blank">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-5">
                <hr class="hr-part">
                <div class="card">
                    <img class="card-img-top" src="assets/img/2d_game_asset.png" alt="Card image">
                    <div class="card-body">
                        <h3  class="pl-2">2D Game Assets</h3>
                        <ul>
                            <li>Character Action Animation.</li>
                            <li>Monobehavior Character Controller.</li>
                        </ul>
                        <a class="btn btn-in-content" href="https://www.youtube.com/watch?v=yf9dRoHFnmI" target="_blank">Video</a>&nbsp;&nbsp;
                        <a class="btn btn-in-content" href="assets/gif" target="_blank">Gif</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h3><b>活動海報</b></h3>
                <hr class="hr-full">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/65535/48114862746_8773485063_b.jpg" target="_blank">
                        <img class="card-img-top" src="https://live.staticflickr.com/65535/48114862746_8773485063.jpg" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/4458/37835157526_2f59dffa7c_b.jpg" target="_blank">
                        <img class="card-img-top" src="https://live.staticflickr.com/4458/37835157526_2f59dffa7c.jpg" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/4301/36033618702_688b013644_b.jpg" target="_blank">
                        <img class="card-img-top" src="https://live.staticflickr.com/4301/36033618702_688b013644.jpg" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/731/31580139205_d2c4515c21_b.jpg" target="_blank">
                        <img class="card-img-top" src="https://live.staticflickr.com/731/31580139205_d2c4515c21.jpg" alt="Card image">
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h3><b>CG繪圖</b></h3>
                <hr class="hr-full">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/7804/46453346925_7a5c3f505d_b.jpg" target="_blank">
                        <img class="card-img-top" src="assets/img/about_fgo.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/4725/39571113451_28f71251bc_b.jpg" target="_blank">
                        <img class="card-img-top" src="assets/img/about_ow.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/7635/16916434502_45237c7b59_b.jpg" target="_blank">
                        <img class="card-img-top" src="assets/img/about_kon_1.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6 pl-2 pr-2 pb-3">
                <div class="card bg-dark">
                    <a href="https://live.staticflickr.com/2931/14321519399_3acfdc550e_b.jpg" target="_blank">
                        <img class="card-img-top" src="assets/img/about_kon_2.png" alt="Card image">
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 mt-3">
                <h3><b>音樂表演</b></h3>
                <hr class="hr-full">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 mb-5">
                <h4>2017成果發表</h4>
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLNMtZ77etnyF8xA1AZrMbhMIlSirh8Fse" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-5">
                <h4>2016新竹站前廣場</h4>
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLNMtZ77etnyGDgefvZmUHcsgzy-FYpXnc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-5">
                <h4>2016新竹東門城</h4>
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLNMtZ77etnyFqVebHoA7YSptM00d05tCa" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-5" >
                <h4>2015成果發表</h4>
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLNMtZ77etnyFVIWGfszycMk_UNwVQ9Yjz" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div> <!--End ResumeMain-->
</div>