<div class="contentarea" style="margin-top: 75px;">
    <div class="container" id="ResumeMain">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/main_head.png" class="rounded-circle" alt="Shawn Wang" height="160" width="160">
                <h3 style="margin-top: 2em;"><b>王裕翔 Shawn Wang</b></h3>
                <h4>Software Engineer</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 4em;">
            <div class="col-md-12">
                <h2><b>軟體開發技能</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <hr>
                <h4><b>遊戲軟體開發</b></h4>
                <p>empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content </p>
            </div>
            <div class="col-md-4">
                <hr>
                <h4><b>網路應用開發</b></h4>
                <p>empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content </p>
            </div>
            <div class="col-md-4">
                <hr>
                <h4><b>嵌入式系統開發</b></h4>
                <p>empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content empty content </p>
            </div>
        </div>
    </div>
</div>