
<div class="container-fluid superpcwang-site-top">
        <!--div class="superpcwang-site-logo"> <img src="logo_main.png" style="width:50px;"> </div-->
        <div class="superpcwang-site-word">SHAWN WANG</div>
        <div class="superpcwang-site-discript">The Mind of Engineer and Artist</div>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <!--a class="navbar-brand" href="home.html">
        <img src="navbar_home_icon.png" style="width:40px;">
    </a-->
    <a class="navbar-brand" routerLink="/">{{appTitle}}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#CollaspseNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="CollaspseNav">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" routerLink="/about"  routerLinkActive="active">ABOUT</a></li>
            <li><a class="nav-link" routerLink="/contact"  routerLinkActive="active">MORE</a></li>
        </ul>
    </div>
</nav>


